.title{
    position: relative;
    left: 100px;
}

.img{
    position: relative;
    left: 140px;  
}
.p{
    position: relative;
    left: 130px;
    width: 1000px;
    font-size: 20px;
    font-family: 'calling code', Courier, monospace;   
}