
.title{
    font-size: 25px;
    position: relative;
    top:10px;
    left: 20px;
}

.menu{
    position: relative;
    font-size: 25px;
    top:8px;
    left: 120px;
}

.menu button{
 font-size: 25px;
}