<div>
  <span class="title">MyApp</span>
  <span class="menu">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a routerLink="/count">count</a></button>
      <button mat-menu-item><a routerLink="/movie">movies</a></button>
      <button mat-menu-item><a routerLink="/dialog">dialog</a></button>
      <button mat-menu-item><a routerLink="/ed">ed</a></button>
    </mat-menu></span
  >
</div>



<router-outlet></router-outlet>

