.content {
  margin-left: 130px;
  margin-top: 10px;
  color: black;
  font-family: 'Calling code', Courier, monospace;
  font-size: 22px;
}

.btn{
    margin-top: 50px;
    margin-left: 90px;
}


.snackbar{
  margin-left: 100px;
  margin-top: 50px;
  width: 150px;
}

